@media (max-width : 900px) {
    /*cuando la pantalla llegue a este maximo de pixeles se va a cumplir todo lo que hay dentro de los parentesis */
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .projects-news-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .projects-news-info-container {
        grid-column: 1;        
    }
    .projects-posts-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
}